@media only screen and (max-width: 400px) {
  .react-calendar {
    max-width: 300px; 
  }

  .react-calendar--doubleView {
    max-width: 300px;
  }
}

@font-face {
  font-family: 'Noto Sans KR', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
}
.dot {
  height: 8px;
  width: 8px;
  background-color: #f87171;
  border-radius: 50%;
  margin-left: 1px;
}


.box {
  display: flex;
  align-content: center;
  justify-content: center;
}

.react-calendar {
  width: 100%;
  max-width: 500px; /* 최대 너비 설정 */
  margin: 0 auto; /* 수평 가운데 정렬을 위해 추가 */
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.5em;
  font-weight: 600;
}

.react-calendar--doubleView {
  width: 100%;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  /* display: flex;
  
  margin: -0.5em; */
  flex-direction: column;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  /* width: 50%;
  margin: 0.5em; */
  width: 100%;
  margin: 0.5em 0;
}


.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation__label > span {
  font-size: large;
  font-weight: normal;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-weight: bold;
  background-color: #fff;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: white;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  /* display: none; */
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 15px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 1em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: white;
}

.react-calendar__tile--now {
  /* background: #ffff76; */
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  /* background: #ffffa9; */
}

.react-calendar__tile--hasActive {
  /* background: #F28482; */
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  /* background: #F28482; */
}

.react-calendar__tile--active {
  background: #FBBBB8;
  color: white;
  border-radius: 50%;
  transform: scale(0.6);
  font-size: 27px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #F28482;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}



/* ------------------------------------------------ */




/* 

.react-calendar {
  border: 1px solid #a0a096;
  border-radius: 5%;
  width: 100%;
  height: 100%;
}

.react-calendar__tile--now {
  background-color: #FF7858;

}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  color: #f87171;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

.react-calendar__tile--now {
  background: #ffff76;
  border-radius: 100%;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
} */